/* 整個編輯器 */
.ck.ck-editor {
  @apply w-2/3 !important;
}

/* toolbar、內文 */
.ck.ck-toolbar,
.ck.ck-editor__main {
  @apply text-black border-x-2 border-secondary-500 placeholder:text-secondary-500 p-2 focus:outline-primary-500 disabled:border-gray-200 disabled:bg-gray-100 disabled:text-gray-400 !important;
}

/* toolbar */
.ck.ck-toolbar {
  @apply border-y-2 !important;
}

/* 內文 */
.ck.ck-editor__main {
  @apply border-b-2 !important;
}

/* toolbar border圓角、高度 */
.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar {
  @apply rounded-t-md h-[32px] !important;
}

/*  內文 border圓角 */
.ck.ck-editor__main {
  @apply rounded-b-md !important;
}

/* 內文外框border */
.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
  @apply border-white rounded-b-md !important;
}

/* 內文外框 */
.ck.ck-editor__main {
  @apply p-0 !important;
}

/* 內文 */
.ck.ck-editor__editable_inline {
  @apply p-2 h-[150px] overflow-y-scroll !important;
}

/* 內文第一行&最後一行 */
.ck.ck-editor__editable_inline > :first-child,
.ck.ck-editor__editable_inline > :last-child {
  @apply m-0 !important;
}

/* 內文focus */
.ck.ck-editor__editable.ck-focused:not(.ck-editor_nested_editable) {
  @apply border-primary-500 !important;
}

/* 內文, markdown list-style */
.ck-content ul {
  list-style-type: "# " !important;
  padding-left: 20px !important;
}

.ck .ck-placeholder:before,
.ck.ck-placeholder:before {
  @apply text-secondary-500 !important;
}

.markdownList ul li {
  @apply flex gap-5;
}

.markdownList ul li:before {
  content: "#";
  display: block;
  position: relative;
}
