@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply flex flex-col items-center mx-auto;
}

.resumeSection {
  @apply w-full mt-4 relative;
}

.resumeH2 {
  @apply text-black text-center font-bold text-3xl py-4;
}

.resumeH3 {
  @apply text-primary-500;
}

.resumeErr {
  @apply text-sm text-red-500;
}

ol {
  list-style-type: number;
  list-style-position: inside;
}

input,
select,
textarea {
  @apply text-black border-2 border-secondary-500 rounded-md placeholder:text-secondary-500 p-2 focus:outline-primary-500 
  disabled:border-gray-200 disabled:bg-gray-100 disabled:text-gray-400;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="file"],
textarea {
  @apply w-1/2;
}

textarea {
  @apply resize-none;
}

.btn {
  @apply rounded-md p-2 border border-primary-500;
}

.cancelledBtn,
.saveBtn {
  @apply w-[120px];
}

.saveBtn {
  @apply bg-primary-500 text-white;
}

.addBtn,
.deleteBtn,
.dragBtn {
  @apply p-0 w-[20px] md:p-2 md:w-[30px] lg:min-w-[40px] text-center;
}

.addBtn {
  @apply bg-primary-100 text-secondary-900;
}

.deleteBtn {
  @apply bg-white text-secondary-900;
}

.requiredMark {
  @apply after:content-['*'] after:ml-0.5 after:text-red-500;
}

.editBtn {
  @apply absolute right-0 top-[34px] -translate-y-1/2 block bg-edit bg-contain w-[30px] h-[30px] opacity-10 hover:opacity-100 hover:duration-300;
}

.tag {
  @apply saveBtn !w-fit px-2 min-w-[100px] rounded-[50px] text-center;
}
